<div class="litem">
	<table>
		<tr>
			<td>
				<div class="item_inp">
					<%= f.text_field :text %>
				</div>
			</td>
			<td>
				<div class="del_but"></div>
			</td>
		</tr>
	</table>
</div>