<div class="main_bl">
	<div class="int_main">
		<div class="int-logo">
			<% tlogo=image_tag("int-logo.gif", :alt => "Привет, подарок") %>
			<%= link_to tlogo, root_path %>
		</div>

		<div class="ab">
			Ссылка на ваш лист подарков готова
		</div>


		<div class="mklist">
			<div class="int">
				<div class="list-link"><%= @lnk_to_list %></div>

				<div class="link-info">
					Скопируйте ее и разошлите своим гостям по электронной почте<br />
или с помощью социальных сетей.
				</div>
			</div>
		</div>

		<div class="getkbl">
			<div class="int">
		
				<div class="keyinf" id="user-email">
				Если хотите, введите ваш e-mail и мы вышлем вам ключ<br />
				для редактирования списка, в противном случае список<br />
				будет нередактируемым:
				</div>

				<%= render "form_update_user_email" %>
				
			</div>
		</div>

	</div>	
</div>