@font-face {
    font-family: 'pt';
    src: url('ptc55f-webfont.eot');
    src: url('ptc55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('ptc55f-webfont.woff') format('woff'),
         url('ptc55f-webfont.ttf') format('truetype'),
         url('ptc55f-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {height: 100%}
body {font-size: 16px; font-family: Tahoma;  height: 100%; background: #ffffff; color: #000000;}
table td {vertical-align: top;}
a {color:#444444;}

.notice {font-weight:bold; color: red; padding-top:30px;}

.main_bl {width: 980px; margin: 0 auto;}
  .int_main {padding: 70px 0 45px 0;}
  	.logo {width: 980px; height: 106px;}
  	.ab {font-size: 24px; margin-top: 40px; text-align: center; line-height: 30px;}

  	.mklist {width: 710px; margin: 0 auto; background:#f6bb00; margin-top: 50px;}
	.mklist .int {padding: 65px 20px 57px 20px; text-align: center;}
	.mklist .hfp {font-family:'pt'; font-size: 40px;}
	.mklist .dfp {font-size: 18px; margin-top: 5px;}

	.mklist textarea {height: 110px; width: 100%;}
	.mklist .wrap_txarea {padding-top: 26px; width: 449px; margin: 0 auto;}
	.mklist .hsp {font-size:40px; font-family:'pt'; padding-top:60px;}

	.mklist .wrap_litem {width: 492px; margin: 0 auto; padding-top: 23px;}
	.mklist .wrap_litem .item_inp {width: 449px;}
	.mklist .wrap_litem .litem {margin-left: 20px; padding-bottom: 35px;}
	.mklist .wrap_litem .item_inp input {width: 100%; font-size: 24px;}
	.mklist .wrap_litem .del_but {width: 43px; height: 36px; cursor:pointer; background: url(../assets/delbut.gif) 15px 10px no-repeat;}

	.addp {display: inline-block; cursor:pointer; font-size: 18px; border-bottom: 2px dotted;}

	.sub input {font-size: 18px; padding: 5px 20px 8px 20px;}
	.sub {margin-top: 50px;text-align: center;}

	.cp {font-size: 11px; color: #444444; text-align: center; margin-top: 40px;}

	.int-logo {width: 476px; height:53px; margin: 0 auto;}
	.list-link {font-size:24px;}
	.link-info {font-size:18px; padding-top: 30px;}


	.getkbl {padding-top:45px; width: 710px; margin: 0 auto;}
		.getkbl .int {padding:30px; background: #b3b3b3;}
				.keyinf {font-size:18px; text-align: center;}
				.inp {width:449px; margin: 0 auto; padding-top:30px;}
				.inp input {width: 100%; font-size:24px;} 	
				
	.getkbl .sub {margin-top:30px;}		
	
	.txBeforeList {width: 600px; margin: 0 auto; padding-top:40px;}
	
	.list {padding-top:45px; width: 710px; margin: 0 auto;}	 
		.list .item {margin-bottom:2px; background: #f6bb00; font-size:24px;}
		.list .item .int {padding: 14px 28px 18px 40px;}
						.nameit {width:460px;}
						.tdgif {padding-left:30px; vertical-align: middle; font-size:18px;}
						.tdgif span { display:inline-block; border-bottom:2px dotted; cursor:pointer;}
		.list .act {background: #b3b3b3; color: #dddddd;}
		
		
	.underlist {font-size: 18px; text-align: center; padding-top:50px;}	
	.underlist a {color:#000000;}
	
	.lock {width: 45px; height: 35px; cursor:pointer;background: url(../assets/oplock.gif) center center no-repeat;}	
	.closed .lock {background: url(../assets/cllock.gif) center center no-repeat;}
		.edit {margin-left: -23px!important;}	
		
		
				